html {
    background: #f5f5f5 url('../img/pattern-4.png') repeat left top;
    //background-color: rgba(255,255,0,0.8);
}
body {
    border: 1px solid rgba(255,255,255,0);
    color: #333333;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #ED145B;
    text-decoration: underline;
}

#banner {
    background-color: rgba(128,128,128,0.1);
    font-size: 1.0em;
    line-height: ;
    margin: 10px;
    padding: 10px;
}
#banner .button {
    background-color: #DDDDDD;
    color: #333333;
    padding: 10px 20px;
    font-weight: normal;
    float: right;
    text-transform: uppercase;
}
#banner .button:hover {
    background-color: #ED145B;
    color: #FFFFFF;
    text-decoration: none;
}
#banner .title {
    float: left;
    height: 36px;
    margin-right: 10px;
    text-transform: uppercase;
}
#banner .title img {
    height: 100%;
}
#banner .caption {
    margin-top: 10px;
    vertical-align: baseline;
}
#banner .caption-newline {
    display: none;
    text-align: center;
}
#pagewrap {
    //background-color: rgba(0,0,0,0.5);
    margin: 0 auto 20px auto;
    padding: 5px;
    width: 960px;
}
#pagewrap.external {
    border: 0 solid blue;

    margin: 0;
    padding: 0;
    width: auto;
}
#header {
    background-color: rgba(255,255,255,0.5);
    //height: 180px;
    margin: 10px;
    position: relative;
}
#content {
    background-color: rgba(255,255,255,0.5);
    float: left;
    margin: 10px;
    width: 600px;
}
#footer {
    background-color: rgba(255,255,255,0.5);
    border-top: 5px solid #ED145B;
    clear: both;
    margin: 10px;
}
#hidden {
    display: none;
}
#lightbox {
    background-color: rgba(0,0,0,0.75);
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
#sidebar {
    background-color: rgba(255,255,255,0.5);
    float: right;
    margin: 10px;
    width: 300px;
}

.article {
    margin: 10px 0;
}
.article .divider {
    border-bottom: 1px solid #ED145B;
}
.article .image-container {
    background-color: rgba(250,250,250,1.0);
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 0;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    padding: 10px;
    position: relative;
    z-index: 20;    
}
.article .image-container:active,
.article .image-container:hover {
    background-color: #EEEEEE;
    border: 1px solid #ED145B;
}
.article .image-container img {
    width: 100%;
}
.article .story-container {
    margin: 20px 0;
}
.article .story-container p {
    padding: 10px;  
}
.article .video-container {
    border: 1px solid #333333;
    margin: 20px 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;   
}
.article .video-contianer:active,
.article .video-container:hover {
    background-color: #EEEEEE;
    border: 1px solid #ED145B;
}
.article .video-container iframe,  
.article .video-container object,  
.article .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article img {
    max-width: 100%;
}

.breadcrumb {
    font-size: 0.9em;   
    text-transform: uppercase;
}
.breadcrumb a {
    padding: 0 5px;
    text-transform: uppercase;
}

.container {
    //margin: 10px;
    padding: 10px;
    position: relative;
}
.container h2.label {
    border: 1px solid rgba(237,20,91,0.2);
    background-color: rgba(237,20,91,0.1);
    color: rgba(0,0,0,0.1);
    font-weight: normal;
    font-style: italic;
    padding: 5px 10px;
    position: absolute;
    top: -5px;
    left: 5px;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.0em;
}

.copyright {
    color: #888888;
    float: left;
    font-size: 0.9em;
    padding: 10px 0;
}

.guide-page {
    border: 1px solid rgba(0,0,255,0);  
    margin: -1;
}
.guide-section {
    border: 1px solid rgba(255,0,0,0);  
    margin: -1;
}
.guide-element {
    border: 1px solid rgba(255,0,255,0);    
    margin: -1;
}

.logo {
    padding: 10px;
}
.logo img {
    cursor: pointer;
    max-height: 120px;
}

.navigation {
    float: right;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
    right: 10px;
}
.navigation li {
    border-right: 1px solid #DDDDDD;
    float: left;
    font-size: 1.0em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.navigation li:last-child {
    border-right: none;
}
.navigation li:hover {
    background-color: #EEEEEE;
    border-bottom: 4px solid #ED145B;
}
.navigation li:hover a {
    color: #ED145B;
}
.navigation li a {
    color: #999999;
    float: left;
    padding: 0 10px;
    text-decoration: none;  
}
.navigation li a:active {
    color: #666666;
}
.navigation li.active {
    border-bottom: 4px solid #ED145B;
}
.navigation li.active a {
    color: #ED145B;
}

.page-guide-popup {
    color: #EEEEEE;
    text-transform: uppercase;
}
.page-guide-popup div {
    padding: 10px 0;
}
.page-guide-popup strong {
    font-weight: bold;
}

.debug {
    background-color: #EEEEEE;
    padding: 10px;
}
.debug h3 {
    color: #CCCCCC;
}
.debug h4 {
    color: #AAAAAA;
    margin-top: 5px;
}

.devices {
    background-color: #EEEEEE;
    padding: 10px;
}
.devices h3 {
    color: #CCCCCC;
}
.devices ul {
    padding: 0;
    text-align: center;
}
.devices li {
    background-color: rgba(250,250,2505,0.5);
    border: 1px solid #AAAAAA;
    color: #888888;
    display: inline-block;
    font-size: 0.8em;
    margin: 0 auto;
    text-transform: uppercase;
    width: 77px;
}
.devices li:hover {
    border: 1px solid #ED145B;
    opacity: 0.8;
}
.devices li:hover a {
    text-decoration: none;
}
.devices li img {
    width: 100%;
}
.devices li div {
    margin: 5px auto;
}

.languages {
    background-color: #EEEEEE;
    padding: 10px;  
}
.languages h3 {
    color: #CCCCCC;
}
.languages ul {
    
}
.languages li {
    display: inline-block;  
}

.services {
    color: #333333;
    font-size: 0.75em;
    float: right;
    opacity: 0.8;
    text-transform: uppercase;
}
.services ul {
}
.services li {
    display: inline-block;
    text-align: center;
}
.services li div {
    padding-left: 6px;
}
.services li img {
    position: relative;
}

.tagline {
    float: left;
    font-size: 1.2em;
    line-height: 1.4em;;
    padding: 10px 0;
}

