<!-- ContentElementMojit -->
<div id="content" class="guide-section">
    <div class="container">

        <h2 class="label">{{#data}}{{#info}}{{name}}{{/info}}{{/data}}</h2>

        {{{breadcrumb-element}}}

        <div class="article clearfix">

            {{#data}}

            {{#is_home}}
            <div class="image-container">
                <img src="/static/responsive_site/assets/img/cocktails-image-800.png" />
            </div>

            <div class="divider"></div>

            <div class="video-container">
                <iframe width="960" height="720" src="http://www.youtube.com/embed/2Zs-Dr1qsN4?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="divider"></div>

            <div class="story-container">
                <p>
                    {{#info}}{{content}}{{/info}}
                </p>
                <p>
                    {{#info}}{{content}}{{/info}}
                </p>
            </div>
            {{/is_home}}

            {{#is_about}}
            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-1.png" />
            </div>

            <div class="divider"></div>

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-2.png" />
            </div>

            <div class="divider"></div>

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-3.png" />
            </div>

            <div class="divider"></div>

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-4.png" />
            </div>

            <div class="divider"></div>

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-5.png" />
            </div>

            <div class="divider"></div>

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-6.png" />
            </div>

            <div class="divider"></div>

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-7.png" />
            </div>

            <div class="divider"></div>

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/sketch-8.png" />
            </div>

            <div class="divider"></div>
            {{/is_about}}

            {{/data}}
            
        </div>
    </div>
</div>
<!-- /ContentElementMojit -->
