<!-- ContentElementMojit -->
<div id="content" class="guide-section">
    <div class="container">

        <h2 class="label">{{#data}}{{#info}}{{name}}{{/info}}{{/data}}</h2>

        {{{breadcrumb-element}}}

        <div class="article clearfix">

            <div class="image-container">
                <img src="/static/responsive_site/assets/img/cocktails-image-800.png" />
            </div>

            <div class="divider"></div>

            <div class="video-container">
                <iframe width="960" height="720" src="http://www.youtube.com/embed/2Zs-Dr1qsN4?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="divider"></div>

            <div class="story-container">
                <p>
                    {{#data}}{{#info}}{{content}}{{/info}}{{/data}}
                </p>
                <p>
                    {{#data}}{{#info}}{{content}}{{/info}}{{/data}}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /ContentElementMojit -->
